.solvesContainer {
  background-color: rgb(16, 13, 30);
  color: rgb(22, 21, 21);
  min-height: 50vh;
  max-height: 50vh;

  overflow: auto;
}
.solveTime {
  color: green;
  width: 82px;
}
.solveSno {
  color: aliceblue;
  width: 45px;
}
.solveDelete{
  color: grey;

}
.solveDelete:hover {
  color: white;
  cursor: pointer;
}
.solveDNF {
  color: grey;
}
.solveDNF:hover {
  color: white;
}
.solveDNF:hover {
  color: white;
  cursor: pointer;
}
.solvePlus2 {
  color: grey;
  cursor: pointer;
}
.solvePlus2:hover {
  color: white;
  cursor: pointer;
}
.solveDelete {
  color: grey;
}
.scrollableContainer {
  overflow-y: auto;
  height: 100%; /* This makes the inner container take up 100% height of its parent */
}
.solve {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.solveTimeBtn:hover {
  p {
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
}
.solveTimeBtn{
}

.noSolvesTitle{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45%;
}
.noSolvesTitle p{

}
