.scramblePlayround .scrambleText {
  font-size: 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.scramblePlayround {
    margin: 0 auto;
  max-width: 75%;
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /* Tablet styles go here */
  .scramblePlayround {
    max-width: 80%;
  }
}

/* Media query for mobile devices (portrait and landscape) */
@media only screen and (max-width: 599px) {
  .scramblePlayround .scrambleText {
    font-size: 29px;
  }
  .scramblePlayround {
    padding: 3px;
    max-width: 100%;
  }
}
