.cardContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10%;
    margin: 5px;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.statsData{
    font-weight: 800;
    font-size: 34px;
    
}
.title{
    font-size: 1rem;
}
