.dashboard{
    position: relative;
    min-height: 50vh;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid black;
    padding: 4px;
    overflow: hidden;
  }
  
  .dashboardSelect{
    position:absolute;
    left: 1px;
    z-index: 1;
    
  }