/* VerticalNavbar.css */

.vertical-navbar {

position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: inherit;
  color: white;
  padding: 20px;
  ;

}
@media only screen and (max-width: 599px) {
  .vertical-navbar  {
  height: 10vh;

  }
}

.NavbarHeader ul {
  list-style-type: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.NavbarHeader li {
  margin-bottom: 10px;
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
}
