.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.timerPlayGround{
  height:100vh;
  background-image: url("https://rukminim2.flixcart.com/image/312/312/kl5hh8w0/mouse/z/n/6/g304-lightspeed-logitech-original-imagyccnyptwckva.jpeg?q=70&crop=false");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}


.toggleScrambleDimension{
  position: absolute;
  bottom:12px;
  right: 5px;
}



.collapsible-container {
  overflow:hidden;
  transition: transform 0.3s ease-in-out;
  height: auto;
}

.collapsed {
  transform: translateY(-100%);
  position: absolute;
  width: 100%;
}

.collapsible-content {
  background-color: #f1f1f1;
  padding: 15px;
}